- if Rails.env == "production"
  User-Agent: *
  Allow: /
  Disallow: /about
  Disallow: /auth
  Disallow: /tmp
  Disallow: /404
  Disallow: /422
  Disallow: /500
  Disallow: /images/random
  Sitemap: http://hentaria.com/sitemap.xml.gz

- else
  User-Agent: *
  Disallow: /
