= metamagic title: APP_CONFIG['default_pre_title'] + ' | ' + APP_CONFIG['default_title'],
            keywords:  APP_CONFIG['default_keywords'],
            description: APP_CONFIG['default_description']