- meta_title = APP_CONFIG['default_pre_title'] + " | " + "Images - Page " + cur_page_num
- meta_keywords = APP_CONFIG['default_pre_keys'] + ", " + join_by(sort_only_by(keywords, :count), :name, 8)
- meta_desc = "Page #{cur_page_num}. #{APP_CONFIG['default_description']} Only on #{APP_CONFIG['default_site_name']}"

- meta title: meta_title, keywords: meta_keywords, description: meta_desc
