- meta title: APP_CONFIG['default_pre_title'] + " | " + "Tags",
       keywords: APP_CONFIG['default_pre_keys'] + ", " + join_by(sort_only_by(keywords, :count), :name, 8),
       description: "Find what kind hentai you like best. And pick it on your own taste. Only on " + APP_CONFIG['default_site_name']