- tag_name = local_assigns[:tag_name].present? ? local_assigns[:tag_name].capitalize : 'No tag'

- meta title: APP_CONFIG['default_pre_title'] + " | " + "Tag: #{tag_name}",
       keywords: APP_CONFIG['default_pre_keys'] + ", " + join_by(sort_only_by(keywords, :count), :name, 8),
       description: "All hentai form the private collection tagged by #{tag_name}"