- warn_name = local_assigns[:warn_name].present? ? local_assigns[:warn_name].capitalize : 'No warns'
- meta_title = APP_CONFIG['default_pre_title'] + " | " + "Warn: #{warn_name}"
- meta_keywords = APP_CONFIG['default_pre_keys'] + ", " + join_by(sort_only_by(keywords, :count), :name, 8)
- meta_desc = "All hentai form the private collection tagged by #{warn_name}. #{APP_CONFIG['default_pre_desc']}"

- meta title: meta_title, keywords: meta_keywords, description: meta_desc
