.form_tags
  = f.fields_for :tag do
    -#- while all_tags.size > 0
    -#  .tags_part{ data: { type: 'tags_page' } }
    -#    - all_tags.slice!(0...20).each do |tag|
    -#      = label_tag tag.name
    -#      = check_box_tag 'tag_ids[]', tag.id, image.instance_of?(Image) ? image.tag_ids.include?(tag.id) : false
    