- if all_warns.present?
  .form_warns
    = f.fields_for :warns do
      - all_warns.each do |warn|
        .warns_part
          = label_tag warn.name
          = radio_button_tag 'warn_id', warn.id, image.instance_of?(Image) ? image.warn_id == warn.id : false