- if all_warns.present?
  .form_warns
    %h3 Warns: 

    = f.fields_for :warns do |warn_field|
      %ul.warns_part
        - all_warns.reverse.each do |warn|
          %li
            = warn_field.radio_button :id, warn.id, checked: image.instance_of?(Image) ? image.warn_id == warn.id : true
            = warn_field.label "id_#{warn.id}", warn.name
