- content = j(render partial: 'tag', collection: @tags, as: :tag, locals: { image_tags: @image.tag_list })
- paginator = j(paginate @tags, params: { controller: "dispatch_imgs", action: "paginate_tags", image: @image.id }, remote: true)

$("[data-type = tags_collection]").html("#{content}");
$("[data-type = pagination]").html("#{paginator}");
