- all_tags = true if local_assigns[:all_tags]
%h2 Tags:
- if tags.presence
  - tags[0,50].each do |tag|
    = link_to "#{tag.name} (#{tag.count})", tag_path(tag.id), class: "tag_link block"
  - if all_tags
    = link_to "All tags",tags_path(), { class: "tag_link block special" }
- else
  No tags present...
