= render partial: "meta/tags_search_meta", locals: { tags_name: @cur_tags.map(&:name), keywords: @tags }

%aside.r-sidebar
  = render partial: "images/warns_list", locals: { warns: @warn }
  = render partial: 'tags_list', locals: { tags: @tags }

= render partial: "images/images_list", locals: { imgs: @imgs, cur_tag: @cur_tag, search_tags: @search_tags }
