= render partial: "meta/tags_search_meta", locals: { tags_name: @cur_tags.map(&:name), keywords: @tags }

%aside.r-sidebar
  = render partial: "images/warns_list", locals: { warns: @warns }
  = render 'tags_list', tags: @tags

= render "images/images_list", imgs: @imgs, cur_tag: @cur_tag, search_tags: @search_tags
