= render partial: "meta/warns_show_meta", locals: { warn_name: @warn.name, keywords: @tags }

%aside.r-sidebar
  = render partial: "images/warns_list", locals: {warns: @warns, selected_warn: @warn.id }
  = render 'tags/tags_list', tags: @tags

= render partial: "images/images_list", locals: { imgs: @imgs }
