.float_left { float: left; };
.float_right { float: right; };

.tags_selected {
  font-size: 14px;
  color: #ff6600;
};

.form_warns, .form_tags{
  margin: 20px;
  font-size: 1.1em;
  max-width: 400px;
  min-width: 100px;

  h3.tag_part {
    font-size: 16px;
  };

  ul.warns_part {
    display:inline-flex;
  }
  ul.warns_part, 
  ul.tag_part {
    li  {
      font-size: 16px;
      padding: 5px;

      input[type=radio],
      input[type=checkbox] {
        display:none;
      };

      input[type=radio] + label,
      input[type=checkbox] + label {
        display:inline-block;
        margin:-2px;
        padding: 5px 22px;
        background-color: #e7e7e7;
        border: 2px solid #ddd;
        -webkit-border-radius: 50px; 
        -moz-border-radius: 50px; 
        -o-border-radius: 50px; 
        -khtml-border-radius: 50px;
        border-radius: 50px;
      };

      input[type=radio]:checked + label,
      input[type=checkbox]:checked + label {
        background-image: none;
        background-color:#cbcbcb;

        -webkit-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
        -moz-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
        -o-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
        -khtml-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
        box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
      };
    };
  };
}