// Place all the styles related to the dispatch_imgs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_img {
  display: inline-block;
  margin: 2px;

  .edit_area {
    position: relative;
    a { 
      margin: 2px;
    }
  }

}

.view_img {
  display: inline;
  float: left;
  width: 400px;
  margin: 0 100px 0 20px;
}

.edit_tags {
  margin: 20px;
  width: 1000px;
}
