@import blueprint/form

#menu
  font: 20px/12px Vernada, sans-serif
  margin-top: 40px
  color: #ff6600
  ul li
    display: inline
    padding: 5px 20px
    a
      text-decoration: none
      color: #444
      transition: 1s
      -moz-transition: 1s
      -webkit-transition: 1s
      -o-transition: 1s
    a:hover
      color: #ff6600
      transition: 1s
      -moz-transition: 1s
      -webkit-transition: 1s
      -o-transition: 1s
.header__logo
  margin-top: 40px
  font-size: 1.3em
  font-weight: bold

.header__slider
  background: url("imgs/front.png") no-repeat
  height: 200px
  margin: 40px auto 0
  position: relative
  width: 999px
  form
    +blueprint-inline-form
    +blueprint-form-layout
    +blueprint-form-borders
    +blueprint-form-sizes(400px)
    margin-top: 55px
    position: absolute
    right: 0

.header-search__input
  font-size: 30px
  background-color: rgba(white, 0.7) !important

.header-search__submit
  background: transparent
  border: none
  cursor: pointer
  font-size: 21px
  position: absolute
  right: 2px
  top: 25px

.alert
  padding: 5px 10px
  border-radius: 4px 4px 4px 4px
  background-color: #F2DEDE
  color: #B94A48
  margin-top: 15px

.notice
  padding: 5px 10px
  border-radius: 4px 4px 4px 4px
  background-color: #DFF0D8
  color: #468847
