#menu {
  font: 20px/12px Vernada, sans-serif;
  padding: 40px 50px;
  background: #fff; 
  color: #ff6600;

  ul li{
    display: inline;
    padding: 5px 20px;

    a { 
      text-decoration: none; 
      color: #444;
      transition: 1s;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s;
    }
    a:hover {
      color: #ff6600;
      transition: 1s;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s;
    } 
  }

  .logo {
    float: right;
    font-size: 1.3em;
    font-style: bold;
  }
}

.head_slider {}

.alert {
  padding: 5px 10px;
  border-radius: 4px 4px 4px 4px;
  background-color: #F2DEDE;
  color: #B94A48;
}

.notice {
  padding: 5px 10px;
  border-radius: 4px 4px 4px 4px;
  background-color: #DFF0D8;
  color: #468847;
}