@import blueprint/form

#menu
  font: 24px/12px 'Gudea', sans-serif
  margin-top: 40px
  color: #ff6600
  ul li
    display: inline
    padding: 5px 20px 5px 0
    a
      text-decoration: none
      color: #444
      transition: 1s
      -moz-transition: 1s
      -webkit-transition: 1s
      -o-transition: 1s
    a:hover
      color: #ff6600
      transition: 1s
      -moz-transition: 1s
      -webkit-transition: 1s
      -o-transition: 1s
.header__logo
  color: #ff6600 !important
  font-size: 2.5em
  font-weight: normal
  margin-top: 40px
  text-align: right
  text-decoration: none
  span
    color: #444
    font-size: 0.8em

.header_background_2
  background: image-url("imgs/header_2.jpg") no-repeat

.header_background_dev
  background: url("imgs/front.png") no-repeat

.header__slider
  height: 170px
  margin: 40px auto 0
  position: relative
  form
    +blueprint-inline-form
    +blueprint-form-layout
    +blueprint-form-borders
    +blueprint-form-sizes(97%)
    margin: 55px 10px 0 10px
    position: absolute
    right: 0

.header-search__submit
  background: transparent
  border: none
  cursor: pointer
  font-size: 21px
  position: absolute
  right: 5px
  top: 13px

.alert
  padding: 5px 10px
  border-radius: 4px 4px 4px 4px
  background-color: #F2DEDE
  color: #B94A48
  margin-top: 15px

.notice
  padding: 5px 10px
  border-radius: 4px 4px 4px 4px
  background-color: #DFF0D8
  color: #468847

.search
  font-size: 20px

.rounded
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px

.tiny_rounded
  border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
