// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_list_wrap {
  text-align: right;
  float: left;
  margin: 40px 10px 0 10px;
  width: 790px;

  .image_thumbs {
    margin: 4px;
    text-decoration: none;
  }

  ul li{
    display: inline-block;
    padding: 5px;
  }

}