@import "compass/css3/inline-block"
.r-sidebar
  margin-top: 60px
  margin-right: 0

.show_page
  margin-top: 33px

a.tag_link
  font-size: 1.3em
  color: #ff6600
  margin: 2px
  padding: 5px
  text-decoration: none
  transition: 0.6s
  -moz-transition: 0.6s
  -webkit-transition: 0.6s
  -o-transition: 0.6s

.tag-link__block
  display: block
  margin: 35px 0 !important
  text-align: right

a.active
  color: #444

.inline
  display: inline-block

.block
  display: block

a:hover.tag_link
  color: #444
  text-decoration: underline
  transition: 0.8s
  -moz-transition: 0.8s
  -webkit-transition: 0.8s
  -o-transition: 0.8s

a.tag_link.special
  margin: 20px 0

h2
  font: 20px/12px Vernada, sans-serif
  margin: 40px 0

.inline-block
  @include inline-block
.tag-link__s
  font-size: 1.3em !important
.tag-link__sm
  font-size: 1.5em !important
.tag-link__m
  font-size: 1.7em !important
.tag-link__ml
  font-size: 1.9em !important
.tag-link__l
  font-size: 2.1em !important
