%article{ class: "body_wrap" }
  %div
    = link_to "Contacts", "#", class: "tag_link", data: { type: "hide_link" }
    
    %div{ class: "hidden", data: { type: "hide_content" } }
      Our email: press_email_@_mail.com


  %div
    = link_to "Copyright and Intellectual Property", "#", class: "tag_link", data: { type: "hide_link" } 

    %div{ class: "hidden", data: { type: "hide_content" } }
      %p
        Unfortunately, in a cause of huge volume, it is impossible for us, verify all the copyright status of every content unit. 
      %p
        If you find that your copyright has been infringed, please report us.
        Please make sure to include all the information below:
      %ul
        %li A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is infringed;
        %li Name or id of material that is claimed to be infringing or to be the subject of infringing activity and has to be removed;
        %li Contact information  to contact you:  telephone number or electronic mail;
        %li A statement that material using is not authorized by the copyright owner or the law;
        %li A statement that the information in the notification is accurate.
      %p
        A properly filed takedown notice needs the following information to be valid. 
        You are hereby made aware that if any of the legally required information is missing or invalid, we cannot be legally considered to have actual knowledge of copyright infringement.
      %p
        In that case, please, sent us an email with all this information.
        Normally we respond within the one day. 
      %p
        Furthermore, please be aware that all copyright claims are made under perjury of law, and false claims may be prosecuted.
     
     
     

  %div
    = link_to "Terms of Service", "#", class: "tag_link", data: { type: "hide_link" }
   
    %div{ class: "hidden", data: { type: "hide_content" } }
      %p
        By accessing the HH website ("Site") you accept the following Terms of Service. 
        From that point onwards, HH will treat your use of the Site as acceptance of the Terms.
      %ul
        %li The Site reserves the right to change these terms at any time. 
        %li If you are a minor, then you will not use the Site.
        %li The Site is presented to you as it is, without any warranty, express or implied. 
        %li You will not hold the Site or its staff members liable for damages caused by the use of the site.
        %li You understand that there may be content on the Site that does not appeal to you or you feel is morally wrong.
        %li You accept that the Site is not liable for any content that you may find here.
        %li You are visiting this site only for personal use.


  %div
    = link_to "Prohibited Content and Privacy Policy", "#", class: "tag_link", data: { type: "hide_link" }
   
    %div{ class: "hidden", data: { type: "hide_content" } }
      %p
        In addition, you may not use the Site to upload any of the following:
      %ul 
        %li
          Child pornography: 
          Any photograph or photorealistic drawing or movie that depicts children in a sexual manner. 
          This includes nudity, explicit sex, implied sex, or sexually persuasive positions.
        %li
          Bestiality: 
          Any photograph or photorealistic drawing or movie that depicts humans having sex (either explicit or implied) with other non-human animals.
        %li
          Watermarked: 
          Any image where a person who is not the original copyright owner has placed a watermark on the image.
        %li
          Paysites.
      %p
        The Site will not disclose the IP address or email address of any user except to the staff.
        The Site is allowed to make public everything else except manga, anime, hentai and adult cartoon content in any ways.
