= render partial: 'meta/images_index_meta', locals: { keywords: @tags, cur_page_num: @cur_page_num }
%aside.r-sidebar
  = render 'warns_list', warns: @warns
  = render 'tags/tags_list', tags: @tags, all_tags: true
= render 'images_list', imgs: @imgs
